* {
  color: #252525;
}

html {
  height: 100%;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6eeb83;
}

ol,
ul {
  padding-left: 0px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 65px;
  font-weight: bold;
  line-height: 70px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.game-info {
  width: 330px;
  position: absolute;
  top: 70px;
  left: 70px;
}

.button {
  border-radius: 4px;
  background-color: #1be7ff;
  border: #6eeb83 2px solid;
}

.fontSize {
  font-size: 20px;
}

.highlight {
  background-color: #e4ff1a;
}
